.footer{
    
    bottom: 0px;
    display: flex;
    align-content: center;
    background-color: #4C4C70;
}
.footerCell{
    text-align: center;
    flex:1;
}

.siteLogo{
    margin:5px;
    width: 40px;
    height:40px;
}