body{
    margin: 0;
}
.gallery{
    margin-top:80px;
    display: flexbox;
    flex-flow: row wrap;
    display: flex;
    
}

.gallery div {
    border:1px solid black;
    flex:auto;
    width:200px;
    margin:2px;
    vertical-align: middle;
}

.gallery div img {
    width:100%;
    height:100%;
}

