.container {
    display:flex;
    background-color:lightblue;
    
}
.box-1 {
    flex:1;
    
}
.box-2 {
    text-align: center;
    flex:1;
    
}
.box-3 {
    text-align: center;
    flex:1;
    
}
.box-4 {
    text-align: center;
    flex:1;
    
}
.dugme{
    margin-top: 1%;
    height:80%;
    width:40%;
    border:none;
    background-color: transparent;
    transition: 0.3s;
}
.dugme:hover {
    background-color: wheat;
}

.logo{
    width: 50px;
    height:50px;
    margin:2px;
}