body{
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

.search-form{
    min-height:10vh;
    display:flex;
    justify-content: center;
    align-items:center;
}

.search-bar{
    width:50%;
    border:none;
    padding: 10px;
}

.search-button{
    background-color: lightblue;
    border:none;
    padding: 10px 20px;
    color:white;
}

.recipes{
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
}